/**
 * Title:
 *    Header
 * Description:
 *    Header layout module, used to define the header at the top of each page.
 *    This could be used in combination with other components to create a
 *    fully-fledged design.
 * Sections:
 *    $. Base
 *    $. Logo
 *    $. Nav
 *    $. Toggle
 *    $. Search
 */



/* $. Base
\*----------------------------------------------------------------*/

.header {
    @extend %cf;
    position: relative;
}


/* $. Logo
\*----------------------------------------------------------------*/

.header__logo {
	color: $white;
	border-bottom: none;

    @include respond-min($bp2) {

    }

    @include respond-min($bp3) {

    }
}


/* $. Nav
\*----------------------------------------------------------------*/

.header__nav {
    display: none;
    position: relative;


    @include respond-min($bp2) {
        display:block;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .is-active-nav & {
        display: block;
        text-align: right;
        background: $italian;

        .nav__link {
            color: $white;
            border-bottom: 1px solid rgba(225, 225, 225, 0.5);
        }
    }
}



/* $. Toggle
\*----------------------------------------------------------------*/

.header__toggle {
    display: block;
    float: right;
    padding: 0.75em 1em 0.5em 1em;
    background: $italian;

    @include respond-min($bp2) {
        display: none;
    }
}

.is-active-nav .header__toggle--nav,
.is-active-search .header__toggle--search {
}




/* $. Search
\*----------------------------------------------------------------*/

.header__search {
    .is-active-search & {
    }
}
