/**
 * Title:
 *    Promo area
 * Description:
 *    Contains 3 featured restaurants for that month as well as the printable voucher
 */

.promo-area {
    background: #F8F8F8;
}

.featured {
    position: relative;
    top: 0;
    left: 0;
    color: $color-text;

    @include respond-min($bp2) {
        top: -500px;
    }
    @include respond-min($bp4) {
        top: -450px;
    }
}
