/**
 * Title:
 *    Promo area
 * Description:
 *    Contains 3 featured restaurnats for that month as well as the printable voucher
 */

.promo-area {
	background: #F8F8F8;
}

.featured {
	width: 100%;
	position: relative;
	top: -450px;
	left: 0;
	color: $white;
}
