/**
 * Title:
 *    Sidebar
 * Description:
 *    Used to display the Sidebar's styling on pages or posts
 *    which have one.
 * Sections:
 *    $. Base
 */



/* $. Base
\*----------------------------------------------------------------*/

.sidebar {
	margin-bottom: $base*2;

	@include respond-min($bp3) {
		margin-bottom: 0;
	}
}



/* $. Elements
\*----------------------------------------------------------------*/

.sidebar__section {
    @extend .panel;
    @extend .panel--grey;
}

.sidebar__heading {
}

.sidebar__list {
}

.trip-advisor, .facebook, .twitter {
    @include respond-min($bp3) {
        float: right;
    }
}

// .facebook, .twitter {
//     @include respond-min($bp3) {
//         margin-top: 1em;
//     }
// }

.facebook {
	margin-bottom: 1em;
	@include respond-min($bp3) {
		margin-bottom: 0;
		margin-left: 1em;
	}
}

// .twitter {
// 	clear: both;
// }
