/**
 * Title:
 *    Button Module
 * Description:
 *    The .btn module and its extensions
 * Sections:
 *    $. Setup
 *    $. Component
 *    $. Modifications
 */



/* $. Setup
\*----------------------------------------------------------------*/

%btn {
    display: inline-block;
    padding: ($base/2) $base;
    border: 0;
}

@mixin btn( $text, $bg, $htext: $text, $hbg: darken($bg, 10%) ) {
    color: $text;
    background: $bg;

    &:hover,
    &:focus {
        color: $htext;
        background: $hbg;
    }
}



/* $. Component
\*----------------------------------------------------------------*/

button,
input[type="button"],
.btn {
    @extend %btn;
}

.btn {
    border-radius: 3px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
}



/* $. Modifications
\*----------------------------------------------------------------*/

/**
 * Themes
 */

.btn--primary {
    // @include btn($white, $italian);
    position: relative;
    padding: $base/4 $base*3 $base/4 $base;
    color: $color-text;
    font-weight: $weight-medium;
    background: $white;

    &:hover, &:active {
        background: darken($white, 2%);
        color: $italian;

        .btn--icon {
            background: darken($italian, 10%);
        }
    }

    .btn--icon {
        width: $base*2;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background: $italian;
        border-radius: 0 3px 3px 0;

        .icon {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.btn--secondary {}
.btn--tertiary {}
.btn--invert {}

/**
 * Position and size
 */

.btn--blocked {
    width: 100%;
    text-align: left;
}

.btn--large {
    font-size: 1.2rem;
}

.btn--small {
    font-size: .8rem;
}

.btn--sorting-options {
    height: 45px;
    position: relative;
    font-size: 1.2rem;
}

/**
 * Icons
 */

.btn--icon {
    position: relative;
    // padding-right: $base*2.5;

    .icon          {}
    .icon--small   {}
    .icon--medium  {}
    .icon--large   {}
    .icon--xlarge  {}
}

/**
 * Extra
 */
// .btn--label {
//     padding: $base/2;
//     display: inline-block;
// }

/**
 * Reset
 */
%btn--reset {
    border: 0;
    background: none;
    text-shadow: none;
    box-shadow: none;
    outline: 0;
    padding: 0;
}

/**
 * Use this class when making js toggle buttons to aid in removing
 * default browser styles
 */
.btn--reset {
    @extend %btn--reset;
}

button.sign-up-submit, button.search-submit {
    position: absolute;
    right: 0;
    padding: 0;
    background: $italian;
    border-radius: 0 3px 3px 0;
}

button.sign-up-submit {
    width: 40px;
    height: 40px;
    bottom: 0;
}

button.search-submit {
    width: 60px;
    height: 60px;
    top: 0;
}

.form-buttons {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.filter_clear, .filter_submit {
    width: auto;
    display: inline-block;
}

.filter_clear {
    &:hover {
        color: $italian;
    }
}

.filter_submit {
    transition: all .1s ease;

    &:hover {
        background: $italian;
        color: $white;
    }
}
