/**
 * Title:
 *    Hero area of each page
 * Description:
 *    ...
 */



/* $. Stuff
\*----------------------------------------------------------------*/
.hero {
    position: relative;
    min-height: 125px;
    padding: $base*2 0;
    color: $white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    &:before, &:after {
        content: '';
        width: 100%;
        position: absolute;
    }

    &:before {
        top: 0;
        left: 0;
        min-height: 125px;
        height: 100%;
        background: #000;
        opacity: .7;
    }

    @include respond-min($bp2) {
        &:after {
            bottom: 0;
            left: 0;
            height: 0;
            padding-bottom: 13%;
            background-size: 101%;
            background-repeat: no-repeat;
        }
    }
}

.hero--home {
    padding: 3em 0;
    background-image: url("../imgs/homepage.jpg");

    @include respond-min($bp2) {
        min-height: 800px;
        padding-top: 6em;

        &:before {
            min-height: 800px;
        }
        &:after {
            background-image: url("../imgs/curve.svg");
        }
    }
}

.hero--index {
    background-image: url("../imgs/index.jpg");

    @include respond-min($bp2) {
        min-height: 350px;
        padding-top: 5em;

        &:before {
            min-height: 350px;
        }
        &:after {
            background-image: url("../imgs/curve--less.svg");
        }
    }

    @include respond-min($bp5) {
        &:after {
            padding-bottom: 9%;
        }
    }
}

.hero--detail {
    padding: 3em 0;
    background-image: url("../imgs/detail.jpg");

    @include respond-min($bp2) {
        min-height: 600px;
        padding-top: 6em;

        &:before {
            min-height: 600px;
        }
        &:after {
            background-image: url("../imgs/curve--white.svg");
            padding-bottom: 15%;
        }
    }
}


