/**
 * Title:
 *    Icon Module
 * Description:
 *    Responsible for all sizes and styling of Grunticon based icons
 * Sections:
 *    $. Setup
 *    $. Base
 *    $. Variations
 *
 * TODO:
 *    - Change .svg sizes based on this file for better IE8 support
 */



/* $. Setup
\*----------------------------------------------------------------*/

@mixin icon-size( $size ) {
    width: $size;
    height: $size;
}


/* $. Base
\*----------------------------------------------------------------*/

.icon {
    @include icon-size($icon);
    display: inline-block;
    background-size: cover;
    background-position: center;
    max-width: 100%;
}



/* $. Variations
\*----------------------------------------------------------------*/

/* Generic sizing */
.icon--small { @include icon-size($icon-small); }
.icon--medium { @include icon-size($icon-medium); }
.icon--large { @include icon-size($icon-large); }
.icon--xlarge { @include icon-size($icon-xlarge); }

/* Logos */
.icon--logo {
    width: 125px;
    height: 60px;
    background-size: contain;

    @include respond-min($bp2) {
        width: 150px;
        height: 75px;
    }

    @include respond-min($bp4) {
        width: 175px;
        height: 85px;
    }
}
