/**
 * Input:
 *    Input Module
 * Description:
 *    ...
 */



/* $. Stuff
\*----------------------------------------------------------------*/

input.search, input.sign-up {
	border: none;
    border-radius: 3px;
}


input.sign-up {
    height: 40px;
}

input.search {
    height: 60px;
}

.popular {

}
