/**
 * Title:
 *    Form
 * Description:
 *    ...
 */



/* $. Stuff
\*----------------------------------------------------------------*/
.form {
	position: relative;
}

.popular__link {
	color: $white;
	border-bottom: none;

	&:hover {
		color: $italian;
	}
}

/* $. Modifications
\*----------------------------------------------------------------*/
.form--search,  {
	max-width: 500px;
}

.form-search--filter {
	min-width: 500px;
}

.form--sign-up {
	max-width: 300px;
}

.form-search--filter {
	.popular__link {
		color: $color-text;

		&:hover {
			color: $italian;
		}
	}
}
