.pagination {
    font-size: 1rem;

    a, span {
        display: inline-block;
    }

    a {
        line-height: 1;
        border-bottom: none;
        text-decoration: none;
    }

    li {
        margin: 0;
        padding: $base/2 $base;
        display: block;
        text-align: center;
        border: 1px solid $grey-light;

        &:hover {
            background: darken($white, 2%);
            color: $italian;
        }

        @include respond-min($bp2) {
            display: inline;
        }
    }

    .first,
    .last {
        border: none;
        background: $italian;
        border: 1px solid $italian;

        a {
            color: $white;
        }

        &:hover {
            background: darken($italian, 10%);
        }
    }

    .first {
        border-radius: 3px 3px 0 0;

        @include respond-min($bp2) {
            border-radius: 3px 0 0 3px;
        }
    }

    .last {
        border-radius: 0 0 3px 3px;

         @include respond-min($bp2) {
            border-radius: 0 3px 3px 0;
        }
    }
}
